header{
    background: #4cd137;
    color:#fff;
}
.main{
    background: #00a8ff;
} 
.color1{
    background: #8c7ae6;
    color:#fff;
}
aside{
    background: #e84118;
    color:#fff;
}
footer{
    background: #00cec9;
    color: #fff;
}

